.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  text-align: center;
  color: red;
}

.grid {
  height: 80%;
  width: 80%;
  background: rgb(163, 161, 161);
  border: 1px solid red;
}

.row {
  display: flex;
  height: 12.5%;
}

.mine {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(196, 192, 192, 0.63);
  flex: 1;
  font-size: 30px;
  border-style: outset;
}

.reveal {
  border-style: inset;
}